



smartobj-burger-button {
    box-sizing: border-box;
    width: 2.7rem;
    height: 2.7rem;

    border-radius: .5rem;
    cursor: pointer;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    outline: transparent solid 1px;

    transition: outline-color 200ms;
}

smartobj-burger-button:hover {
    outline: black solid 1px;
}

smartobj-burger-button span {
    background: black;
    border-radius: 3rem;
    height: calc(100% / 6);
    transition: transform 100ms;
}

smartobj-burger-button.open span:first-of-type {
    transform: translateY(175%) rotate(45deg);
}

smartobj-burger-button.open span:nth-of-type(2) {
    transform: scale(0);
}

smartobj-burger-button.open span:last-of-type {
    transform: translateY(-175%) rotate(-45deg);
}